In [66]:
# Dependencies
import numpy as np
import pandas as pd
import datetime as dt
%matplotlib inline
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt

# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [67]:
engine = create_engine("sqlite:///hawaii.sqlite")

# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [68]:
# Create our session (link) from Python to the DB
session = Session(engine)

## D1: Determine the Summary Statistics for June

In [69]:
# 1. Import the sqlalchemy extract function.
from sqlalchemy import extract

# 2. Write a query that filters the Measurement table to retrieve the temperatures for the month of June.
june = dt.date(2017, 6, 30) - dt.timedelta(days=29)
july = dt.date(2017, 7, 1)

In [70]:
#  3. Convert the June temperatures to a list.
results = []
results = session.query(Measurement.date, Measurement.tobs).filter(Measurement.date >= june, Measurement.date < july).all()
print(results)

[('2017-06-01', 79.0), ('2017-06-02', 79.0), ('2017-06-03', 79.0), ('2017-06-04', 79.0), ('2017-06-05', 80.0), ('2017-06-06', 79.0), ('2017-06-07', 79.0), ('2017-06-08', 80.0), ('2017-06-09', 80.0), ('2017-06-10', 77.0), ('2017-06-11', 79.0), ('2017-06-12', 83.0), ('2017-06-13', 80.0), ('2017-06-14', 80.0), ('2017-06-15', 78.0), ('2017-06-16', 79.0), ('2017-06-17', 80.0), ('2017-06-18', 77.0), ('2017-06-19', 80.0), ('2017-06-20', 78.0), ('2017-06-21', 79.0), ('2017-06-22', 80.0), ('2017-06-23', 78.0), ('2017-06-24', 80.0), ('2017-06-25', 80.0), ('2017-06-26', 81.0), ('2017-06-27', 80.0), ('2017-06-28', 79.0), ('2017-06-29', 79.0), ('2017-06-30', 75.0), ('2017-06-01', 76.0), ('2017-06-02', 76.0), ('2017-06-03', 76.0), ('2017-06-04', 78.0), ('2017-06-05', 76.0), ('2017-06-06', 75.0), ('2017-06-07', 75.0), ('2017-06-08', 76.0), ('2017-06-09', 78.0), ('2017-06-10', 75.0), ('2017-06-11', 73.0), ('2017-06-12', 76.0), ('2017-06-13', 76.0), ('2017-06-14', 76.0), ('2017-06-15', 77.0), ('2017-06-16', 76.0), ('2017-06-17', 77.0), ('2017-06-18', 72.0), ('2017-06-19', 77.0), ('2017-06-20', 75.0), ('2017-06-21', 82.0), ('2017-06-22', 77.0), ('2017-06-23', 76.0), ('2017-06-24', 74.0), ('2017-06-25', 73.0), ('2017-06-26', 77.0), ('2017-06-27', 77.0), ('2017-06-28', 77.0), ('2017-06-29', 76.0), ('2017-06-30', 74.0), ('2017-06-01', 81.0), ('2017-06-02', 78.0), ('2017-06-03', 80.0), ('2017-06-04', 79.0), ('2017-06-05', 81.0), ('2017-06-06', 80.0), ('2017-06-07', 81.0), ('2017-06-08', 79.0), ('2017-06-09', 81.0), ('2017-06-10', 78.0), ('2017-06-11', 79.0), ('2017-06-12', 79.0), ('2017-06-13', 75.0), ('2017-06-14', 79.0), ('2017-06-15', 78.0), ('2017-06-16', 80.0), ('2017-06-17', 78.0), ('2017-06-18', 77.0), ('2017-06-19', 78.0), ('2017-06-20', 79.0), ('2017-06-23', 76.0), ('2017-06-26', 80.0), ('2017-06-29', 76.0), ('2017-06-30', 81.0), ('2017-06-02', 79.0), ('2017-06-05', 78.0), ('2017-06-06', 80.0), ('2017-06-07', 80.0), ('2017-06-08', 78.0), ('2017-06-09', 80.0), ('2017-06-13', 81.0), ('2017-06-14', 78.0), ('2017-06-15', 77.0), ('2017-06-16', 78.0), ('2017-06-19', 78.0), ('2017-06-20', 77.0), ('2017-06-21', 76.0), ('2017-06-22', 81.0), ('2017-06-23', 76.0), ('2017-06-26', 82.0), ('2017-06-27', 80.0), ('2017-06-28', 80.0), ('2017-06-29', 79.0), ('2017-06-30', 74.0), ('2017-06-01', 79.0), ('2017-06-02', 81.0), ('2017-06-03', 79.0), ('2017-06-04', 81.0), ('2017-06-05', 78.0), ('2017-06-06', 78.0), ('2017-06-07', 78.0), ('2017-06-08', 77.0), ('2017-06-09', 78.0), ('2017-06-10', 75.0), ('2017-06-11', 81.0), ('2017-06-12', 80.0), ('2017-06-13', 77.0), ('2017-06-14', 80.0), ('2017-06-15', 78.0), ('2017-06-16', 80.0), ('2017-06-17', 77.0), ('2017-06-18', 78.0), ('2017-06-19', 78.0), ('2017-06-21', 80.0), ('2017-06-22', 80.0), ('2017-06-23', 79.0), ('2017-06-24', 82.0), ('2017-06-25', 80.0), ('2017-06-26', 81.0), ('2017-06-27', 81.0), ('2017-06-28', 79.0), ('2017-06-29', 78.0), ('2017-06-30', 75.0), ('2017-06-01', 80.0), ('2017-06-02', 76.0), ('2017-06-03', 76.0), ('2017-06-04', 77.0), ('2017-06-05', 75.0), ('2017-06-06', 75.0), ('2017-06-07', 75.0), ('2017-06-08', 75.0), ('2017-06-09', 72.0), ('2017-06-10', 74.0), ('2017-06-11', 74.0), ('2017-06-12', 74.0), ('2017-06-13', 76.0), ('2017-06-14', 74.0), ('2017-06-15', 75.0), ('2017-06-16', 73.0), ('2017-06-17', 79.0), ('2017-06-18', 75.0), ('2017-06-19', 72.0), ('2017-06-20', 72.0), ('2017-06-21', 74.0), ('2017-06-22', 72.0), ('2017-06-23', 72.0), ('2017-06-24', 77.0), ('2017-06-25', 71.0), ('2017-06-26', 73.0), ('2017-06-27', 76.0), ('2017-06-28', 77.0), ('2017-06-29', 76.0), ('2017-06-30', 76.0), ('2017-06-01', 74.0), ('2017-06-03', 74.0), ('2017-06-04', 77.0), ('2017-06-05', 74.0), ('2017-06-06', 74.0), ('2017-06-07', 79.0), ('2017-06-08', 75.0), ('2017-06-10', 72.0), ('2017-06-11', 76.0), ('2017-06-12', 74.0), ('2017-06-13', 73.0), ('2017-06-14', 74.0), ('2017-06-15', 77.0), ('2017-06-16', 74.0), ('2017-06-17', 72.0), ('2017-06-18', 77.0), ('2017-06-19', 76.0), ('2017-06-20', 74.0), ('2017-06-21', 75.0), ('2017-06-22', 76.0), ('2017-06-23', 71.0), ('2017-06-24', 73.0), ('2017-06-25', 79.0), ('2017-06-26', 79.0), ('2017-06-27', 74.0), ('2017-06-28', 74.0), ('2017-06-29', 76.0), ('2017-06-30', 75.0)]

In [71]:
# 4. Create a DataFrame from the list of temperatures for the month of June. 
june_df = pd.DataFrame(results, columns=['date',' June temperature'])
june_df

           date   June temperature
0    2017-06-01               79.0
1    2017-06-02               79.0
2    2017-06-03               79.0
3    2017-06-04               79.0
4    2017-06-05               80.0
..          ...                ...
186  2017-06-26               79.0
187  2017-06-27               74.0
188  2017-06-28               74.0
189  2017-06-29               76.0
190  2017-06-30               75.0

[191 rows x 2 columns]

In [72]:
# 5. Calculate and print out the summary statistics for the June temperature DataFrame.
df.describe()

        June temperature
count         200.000000
mean           71.130000
std             3.419292
min            60.000000
25%            69.000000
50%            71.000000
75%            74.000000
max            78.000000

## D2: Determine the Summary Statistics for December

In [73]:
# 6. Write a query that filters the Measurement table to retrieve the temperatures for the month of December.
december = dt.date(2016, 12, 31) - dt.timedelta(days=30)
january = dt.date(2017, 1, 1)

In [74]:
# 7. Convert the December temperatures to a list.
results = []
results = session.query(Measurement.date, Measurement.tobs).filter(Measurement.date >= december, Measurement.date < january).all()
print(results)

[('2016-12-01', 75.0), ('2016-12-02', 72.0), ('2016-12-03', 69.0), ('2016-12-04', 71.0), ('2016-12-05', 68.0), ('2016-12-06', 67.0), ('2016-12-07', 69.0), ('2016-12-08', 73.0), ('2016-12-09', 70.0), ('2016-12-10', 70.0), ('2016-12-11', 70.0), ('2016-12-12', 66.0), ('2016-12-13', 67.0), ('2016-12-14', 70.0), ('2016-12-15', 66.0), ('2016-12-16', 62.0), ('2016-12-17', 71.0), ('2016-12-18', 73.0), ('2016-12-19', 69.0), ('2016-12-20', 77.0), ('2016-12-21', 74.0), ('2016-12-22', 71.0), ('2016-12-23', 72.0), ('2016-12-24', 74.0), ('2016-12-25', 74.0), ('2016-12-26', 74.0), ('2016-12-27', 74.0), ('2016-12-28', 71.0), ('2016-12-29', 73.0), ('2016-12-30', 69.0), ('2016-12-31', 66.0), ('2016-12-01', 73.0), ('2016-12-02', 71.0), ('2016-12-03', 71.0), ('2016-12-04', 69.0), ('2016-12-05', 68.0), ('2016-12-06', 70.0), ('2016-12-07', 71.0), ('2016-12-08', 72.0), ('2016-12-09', 70.0), ('2016-12-10', 71.0), ('2016-12-11', 72.0), ('2016-12-12', 68.0), ('2016-12-13', 68.0), ('2016-12-14', 70.0), ('2016-12-15', 70.0), ('2016-12-16', 63.0), ('2016-12-17', 71.0), ('2016-12-18', 67.0), ('2016-12-19', 69.0), ('2016-12-20', 74.0), ('2016-12-21', 72.0), ('2016-12-22', 70.0), ('2016-12-23', 69.0), ('2016-12-24', 73.0), ('2016-12-25', 74.0), ('2016-12-26', 74.0), ('2016-12-27', 73.0), ('2016-12-28', 71.0), ('2016-12-29', 72.0), ('2016-12-30', 69.0), ('2016-12-31', 71.0), ('2016-12-01', 75.0), ('2016-12-02', 77.0), ('2016-12-03', 75.0), ('2016-12-04', 77.0), ('2016-12-05', 76.0), ('2016-12-07', 76.0), ('2016-12-08', 75.0), ('2016-12-09', 72.0), ('2016-12-10', 76.0), ('2016-12-12', 75.0), ('2016-12-13', 72.0), ('2016-12-14', 72.0), ('2016-12-15', 75.0), ('2016-12-16', 69.0), ('2016-12-17', 75.0), ('2016-12-18', 74.0), ('2016-12-19', 78.0), ('2016-12-20', 77.0), ('2016-12-21', 76.0), ('2016-12-22', 72.0), ('2016-12-23', 73.0), ('2016-12-24', 74.0), ('2016-12-26', 74.0), ('2016-12-27', 74.0), ('2016-12-28', 73.0), ('2016-12-29', 73.0), ('2016-12-30', 71.0), ('2016-12-31', 72.0), ('2016-12-01', 72.0), ('2016-12-02', 70.0), ('2016-12-05', 68.0), ('2016-12-06', 74.0), ('2016-12-07', 71.0), ('2016-12-08', 70.0), ('2016-12-09', 70.0), ('2016-12-12', 70.0), ('2016-12-13', 68.0), ('2016-12-14', 68.0), ('2016-12-15', 68.0), ('2016-12-16', 66.0), ('2016-12-19', 71.0), ('2016-12-20', 76.0), ('2016-12-21', 73.0), ('2016-12-22', 70.0), ('2016-12-23', 68.0), ('2016-12-28', 71.0), ('2016-12-29', 71.0), ('2016-12-30', 68.0), ('2016-12-01', 76.0), ('2016-12-02', 75.0), ('2016-12-03', 75.0), ('2016-12-04', 75.0), ('2016-12-05', 70.0), ('2016-12-06', 70.0), ('2016-12-07', 74.0), ('2016-12-08', 73.0), ('2016-12-10', 72.0), ('2016-12-11', 78.0), ('2016-12-12', 67.0), ('2016-12-13', 69.0), ('2016-12-14', 71.0), ('2016-12-15', 74.0), ('2016-12-16', 63.0), ('2016-12-17', 76.0), ('2016-12-18', 76.0), ('2016-12-19', 71.0), ('2016-12-20', 76.0), ('2016-12-21', 77.0), ('2016-12-22', 73.0), ('2016-12-23', 71.0), ('2016-12-24', 78.0), ('2016-12-25', 78.0), ('2016-12-26', 75.0), ('2016-12-27', 75.0), ('2016-12-28', 72.0), ('2016-12-29', 77.0), ('2016-12-30', 72.0), ('2016-12-01', 74.0), ('2016-12-02', 70.0), ('2016-12-03', 72.0), ('2016-12-04', 70.0), ('2016-12-05', 67.0), ('2016-12-06', 67.0), ('2016-12-07', 69.0), ('2016-12-08', 70.0), ('2016-12-09', 68.0), ('2016-12-10', 69.0), ('2016-12-11', 69.0), ('2016-12-12', 66.0), ('2016-12-13', 65.0), ('2016-12-14', 68.0), ('2016-12-15', 62.0), ('2016-12-16', 75.0), ('2016-12-17', 70.0), ('2016-12-18', 69.0), ('2016-12-19', 76.0), ('2016-12-20', 76.0), ('2016-12-21', 74.0), ('2016-12-22', 73.0), ('2016-12-23', 71.0), ('2016-12-24', 74.0), ('2016-12-25', 74.0), ('2016-12-26', 72.0), ('2016-12-27', 71.0), ('2016-12-28', 72.0), ('2016-12-29', 74.0), ('2016-12-30', 69.0), ('2016-12-31', 67.0), ('2016-12-01', 71.0), ('2016-12-02', 71.0), ('2016-12-03', 67.0), ('2016-12-04', 76.0), ('2016-12-05', 67.0), ('2016-12-06', 67.0), ('2016-12-07', 68.0), ('2016-12-08', 71.0), ('2016-12-09', 68.0), ('2016-12-10', 68.0), ('2016-12-11', 69.0), ('2016-12-12', 65.0), ('2016-12-13', 70.0), ('2016-12-14', 69.0), ('2016-12-15', 64.0), ('2016-12-16', 60.0), ('2016-12-18', 67.0), ('2016-12-19', 72.0), ('2016-12-20', 73.0), ('2016-12-21', 70.0), ('2016-12-22', 68.0), ('2016-12-23', 69.0), ('2016-12-24', 69.0), ('2016-12-25', 69.0), ('2016-12-26', 71.0), ('2016-12-27', 71.0), ('2016-12-28', 71.0), ('2016-12-29', 69.0), ('2016-12-30', 65.0), ('2016-12-31', 65.0)]

In [75]:
# 8. Create a DataFrame from the list of temperatures for the month of December. 
december_df = pd.DataFrame(results, columns=['date',' December temperature'])
december_df

           date   December temperature
0    2016-12-01                   75.0
1    2016-12-02                   72.0
2    2016-12-03                   69.0
3    2016-12-04                   71.0
4    2016-12-05                   68.0
..          ...                    ...
195  2016-12-27                   71.0
196  2016-12-28                   71.0
197  2016-12-29                   69.0
198  2016-12-30                   65.0
199  2016-12-31                   65.0

[200 rows x 2 columns]

In [77]:
# 9. Calculate and print out the summary statistics for the Decemeber temperature DataFrame.
december_df.describe()

        December temperature
count             200.000000
mean               71.130000
std                 3.419292
min                60.000000
25%                69.000000
50%                71.000000
75%                74.000000
max                78.000000